extends layout.pug
include search-mixins.pug

block seo
  title ingoodcompany.info - Research a company for your job search

block analytics
  script.
    mixpanel.track('Visited root');
    // DEV: `mixpanel.track_links` was loading `/undefined` for our blank links so we're sidestepping it
    window.addEventListener('DOMContentLoaded', function handleDOMContentLoaded (evt) {
      [].forEach.call(document.querySelectorAll('.search-results a[target=_blank]'), function (linkEl) {
        linkEl.addEventListener('click', function handleClick (evt) {
          mixpanel.track('Clicked default search results link');
        });
      });
    });

block content
  +pageHeading({includeDescription: true})
  +searchForm(null, {autofocus: 'true'})
  .row
    .col-lg-6
      h4 Example results
  +searchResults({ query: defaultQuery, glassdoorInfo })
