extends layout.pug

block title
  title ingoodcompany.info - Research a company for your job search

block content
  +pageHeading()
  .row
    .col-lg-6
      p
        | Look up a company by its name and get information from
        = " "
        a(href="https://www.glassdoor.com/") Glassdoor
        = " as well as links to profiles on "
        a(href="https://www.crunchbase.com/") Crunchbase
        = ", "
        a(href="https://www.linkedin.com/") LinkedIn
        | , and more!
  +searchForm(locals.query, {autofocus: "true"})
  .row
    .col-lg-6
      h4 Example results
  +searchResults({ defaultQuery, glassdoorInfo })
