extends layout.pug

block title
  title ingoodcompany.info - Research a company for your job search

block content
  +pageHeading({includeDescription: true})
  +searchForm(null, {autofocus: 'true'})
  .row
    .col-lg-6
      h4 Example results
  +searchResults({ query: defaultQuery, glassdoorInfo })
