//- Designed via https://webflow.com/design/ingoodcompany-info
doctype html
html(lang="en")
  head
    //- https://getbootstrap.com/docs/4.1/getting-started/download/
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
    title ingoodcompany.info - Research a company for your job search
  body
    .container
      .row
        .col.col-6
          h1 ingoodcompany.info
          h4 Research a company for your job search
          //- TODO: Add links to all these websites
          p Look up a company by its website and get information from Glassdoor as well as links to profiles on Crunchbase, LinkedIn, and more!
      .row
        .col.col-6
          form
            .form-group
              label(for="website") Website
              input.form-control(type="text", name="website", autofocus="true", placeholder="google.com", required)
            button.btn.btn-primary(type="submit") Search
