mixin pageHeading(options)
  - options = options || {};
  .row
    .col-lg-6
      h1 ingoodcompany.info
      h4(class=options.includeDescription ? null : 'mb-3') Research a company for your job search
      if options.includeDescription
        p
          | Look up a company by its name and get information from
          = " "
          a(href="https://www.glassdoor.com/") Glassdoor
          = " as well as links to profiles on "
          a(href="https://www.crunchbase.com/") Crunchbase
          = ", "
          a(href="https://www.linkedin.com/") LinkedIn
          | , and more!
