extends layout.pug
include search-mixins.pug

block seo
  title= `Search results for ${query} - ingoodcompany.info`

block analytics
  script.
    mixpanel.track('Performed search', {
      query: '#{query}'
    });
    // DEV: `mixpanel.track_links` was loading `/undefined` for our blank links so we're sidestepping it
    window.addEventListener('DOMContentLoaded', function handleDOMContentLoaded (evt) {
      [].forEach.call(document.querySelectorAll('.search-results a[target=_blank]'), function (linkEl) {
        linkEl.addEventListener('click', function handleClick (evt) {
          mixpanel.track('Clicked search results link', {
            query: '#{query}'
          });
        });
      });
    });

block content
  +pageHeading()
  +searchForm(query)
  .row
    .col-lg-6
      h4= `Search results for: ${query}`
  +searchResults({ query, glassdoorInfo })
