extends layout.pug
include search-mixins.pug

block title
  title= `Search results for ${query} - ingoodcompany.info`

block analytics
  script.
    mixpanel.track('Performed search', {
      query: '#{query}'
    });
    mixpanel.track_links('.search-results', 'Clicked search results link', {
      query: '#{query}'
    });

block content
  +pageHeading()
  +searchForm(query)
  .row
    .col-lg-6
      h4= `Search results for: ${query}`
  +searchResults({ query, glassdoorInfo })
