extends layout.pug
include search-mixins.pug

block title
  title= `Search results for ${query} - ingoodcompany.info`

block content
  //- TODO: Get back spacing from heading for search form
  +pageHeading()
  +searchForm(query)
  .row
    .col-lg-6
      h4= `Search results for: ${query}`
  +searchResults({ query, glassdoorInfo })
